main {
    width: 100%;
    height: 70vh;
}

.main-content {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 200px;
    padding: 20px;
}

.content {
    font-size: 1.3rem;
    text-align: justify;
    width: 900px;
    flex: 1;
    box-sizing: border-box;
    padding-bottom: 200px;
}

.content h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #88CD14;
}

figure {
    flex: 1;
    box-sizing: border-box;
}

figure img {
    width: 100%;
    max-width: 400px;
}